---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Listas from "../components/Listas.astro"
import Guide from '../components/Guide.astro';
import Contact from '../components/Contact.astro';
import Case from '../components/Case.astro';
---

<Layout title="CDE 24">
	<main class="space-y-20">
		<Hero/>
		<Listas/>
		<!-- <Case/> -->
		<Guide/>
		<!-- <Contact/> -->
	</main>
</Layout>