---
import Container from "../components/Container.astro"
import Layout from '../layouts/Layout.astro';
---

<Layout title="CDE 24 - Modelo de voto">
	<main class="space-y-20">
		<Container>
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Modelo de voto 2024</h2>
                    <p class="mb-5 font-light text-gray-500 sm:text-xl">El modelo de voto que será usado para las elecciones es el siguiente:</p>
                </div>
                <div class="space-y-8 lg:grid lg:grid-cols-1 sm:gap-6 xl:gap-10 lg:space-y-0">
                    <!-- Pricing Card -->
                    <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow ">
                        <h3 class="mb-4 text-2xl font-semibold">No disponible</h3>
                        <p class="font-light text-gray-500 sm:text-lg">Este documento no se encuentra disponible por el momento. Cuando sea publicado aparecerá en este enlace.</p>
                        <div class="flex justify-center items-baseline my-8">
                            <span class="mr-2 text-5xl font-extrabold">❌</span>
                        </div>
                        <a href="#" class="text-black hover:text-white bg-lime hover:bg-black focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Descargar</a>
                    </div>
                </div>
            </div>
        </Container>
	</main>
</Layout>